/* =================================== */
/* DESIGN SYSTEM */
/* =================================== */
/*

! --- 01 TYPOGRAPHY SYSTEM

* Font size system(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

* Font weights
Default: 400

* Line heights
Default: 1

! --- 02 COLORS

- Primary: Primäre Farbe 
- Tints (Farbtöne):
- Shades (Schattierungen):
- Accents:
- Greys: #555 Beliebte Grau Töne

! --- 05 SHADOWS

! --- 06 BORDER-RADIUS

! --- 07 WHITESPACE

* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* =================================== */
/* FONTS */
/* =================================== */

@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.ttf");
}

/* =================================== */
/* RESET STYLES */
/* =================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
}

/* ------------------------ */
/* HELPER CLASSES */
/* ------------------------ */

.container {
  max-width: 144rem;
  margin: 0 auto;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

html {
  /* 10px / 16px * 100% = 62,5% */
  /* Percentage of users browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  background-color: #212529;
  font-family: "Rubik-Regular";
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* ------ HEADER ------ */

/* ------ MAIN ------ */

/* ------ FOOTER ------ */

.header {
  padding-top: 6rem;
  margin-bottom: 4rem;
  color: white;
}

.heading-primary {
  font-size: 3.6rem;
  margin-bottom: 4rem;
  font-family: "Rubik-Bold";
}

.heading-sub {
  font-size: 2rem;
}

main {
  position: relative;
}

.to-top {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.8rem;
}

.to-top img {
  height: 3.6rem;
  width: 3.6rem;
}

.to-top:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.section-search {
  margin: 0 auto;
}

.searchField {
  width: 35%;
  padding-block: 2rem;
  padding-right: 1rem;
  border-radius: 5rem;
  border: 2px solid #fa5252;
  font-size: 2rem;
  text-align: center;
  margin-right: 1rem;
  color: #e03131;
}

.submit-btn {
  padding-block: 2rem;
  padding-inline: 6rem;
  border-radius: 5rem;
  background-color: #fa5252;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: 2px solid #fa5252;
}

.submit-btn:hover {
  background-color: rgb(250, 82, 82, 0.8);
  transition: 0.2s linear;
  transform: translateY(-0.2rem);
  box-shadow: 4px 4px 5px rgb(255, 255, 255, 0.8);
  cursor: pointer;
}

.submit-btn:active {
  transform: translateY(0.1rem);
  box-shadow: 2px 2px 2px rgb(255, 255, 255, 0.8);
  background-color: rgb(250, 82, 82, 0.2);
}

.filter-headline {
  color: white;
  text-align: start;
  margin-top: 2%;
  padding-left: 5%;
  margin-bottom: 20px;
  font-size: 2rem;
}

.filter-wrapper {
  max-width: 100%;
  padding-inline: 5%;
  margin: 0 0 8rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.btn {
  padding-block: 1.6rem;
  padding-inline: 2rem;
  border-radius: 5rem;
  border: 2px solid #fa5252;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  transition: 0.2s ease-out;
  text-align: center;
}

.btn:hover {
  background-color: rgb(250, 82, 82, 0.4);
  transform: translateY(-0.2rem);
  box-shadow: 4px 4px 5px #fa5252;
  cursor: pointer;
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 2px 2px 2px #fa5252;
  background-color: rgb(250, 82, 82, 0.7);
}

.select-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-by-genre {
  transform: none;
  appearance: none;
  position: relative;
  max-width: 100%;
  padding-inline: 2rem;
  width: 18rem;
}

.filter-by-genre:hover,
.filter-by-genre:active {
  transform: none;
}

.arrow-down-wrapper {
  transform: rotate(180deg);
  width: 50%;
  height: 100%;
  position: absolute;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.arrow-down {
  width: 1.6rem;
  height: 1.6rem;
}

.add-movie-btn {
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid transparent;
}

.add-movie-btn:hover {
  border: 2px solid #fa5252;
}

.add-movie-btn:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.section-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8rem 4rem;
  padding-inline: 6%;
  padding-bottom: 4rem;
}

.movie-wrapper {
  font-size: 1.8rem;
  background-color: rgb(224, 49, 49);
  padding: 4rem 4rem;
  border-radius: 2rem;
  color: white;
  animation: movinBottom 0.5s linear;
}

.movie-wrapper:hover {
  transform: scale(1.05);
  background-color: rgb(224, 49, 49, 0.5);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.movie-headline {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Rubik-Bold";
}

.year {
  margin-bottom: 2rem;
}

.actor {
  margin-bottom: 2rem;
  font-family: "Rubik-Bold";
}

.duration {
  margin-bottom: 2rem;
}

.genre {
  margin-block: 4rem;
  padding-inline: 4rem;
}

.rate {
  font-size: 2.4rem;
}

.icon-star {
  width: 1.8rem;
  height: 1.8rem;
  display: inline;
}

@keyframes movinBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
