body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  background-color: #212529;
  font-family: "Rubik-Regular";
  position: relative;
}

.heading-primary {
  font-size: 4.4rem;
  margin-bottom: 4rem;
  font-family: "Rubik-Bold";
}

.heading-sub {
  font-size: 2rem;
  font-family: "Rubik-Medium";
}
