$btn-bg-color: rgb(224, 49, 49);
$btn-bg-color-hover: rgba(250, 82, 82, 0.4);
$btn-bg-color-active: rgba(250, 82, 82, 0.7);
$btn-bg-color-light: rgba(255, 255, 255, 0.4);
$btn-border: 2px solid #fa5252;
$btn-box-shadow-hover: 4px 4px 5px #fa5252;
$btn-box-shadow-active: 2px 2px 2px #fa5252;
