/* Error: expected "{".
 *     ,
 * 181 |   t
 *     |    ^
 *     '
 *   assets/scss/base/_base.scss 181:4  @use
 *   assets/scss/main.scss 5:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 181 \2502    t\a     \2502     ^\a     \2575 \a   assets/scss/base/_base.scss 181:4  @use\a   assets/scss/main.scss 5:1          root stylesheet';
}
